.new-item{
    border: none;
    border-radius: 50%;
    color: $color-secondary;
    background-color: $color-primary;
    width: 56px;
    height: 56px;
    font-size: 1.6rem;
    position: fixed;
    bottom: 24px;
}

.button-div{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}