.new-item{
    border: none;
    border-radius: 50%;
    color: $color-secondary;
    background-color: $color-primary;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 56px;
    font-size: 1.6rem;
}